.navbar {
  background: #333;
  height: 60px;
  display: flex;
  align-items: center;
  color: #fff;
}

.nav-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.nav-logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-menu.active {
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background: #333;
  flex-direction: column;
  text-align: center;
}


.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.nav-icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-menu {
    display: none;
    flex-direction: column;
  }

  .nav-icon {
    display: block;
  }
}
